
h1 a {
  text-decoration: none;
  color: #FFFFFF;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 75px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
  text-align: center;
  text-shadow: 1px 1px 2px #003300;
}


h1 a:hover {
	color:#FFFFFF;
	text-decoration: none;
	text-align:center;
	font-size: 75px;
}

h1 {
    text-align: center;
}

body
{
  background: url(bamboo.JPG);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

nav {
 background: #FFFFFF;
 opacity: 0.7;
 width: 100%;
}

nav .navbar-brand
{
    /* size for brand */
    font-size: xx-large;
}

/* colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
}

main .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

main
{
    /* scroll horizontally as needed */
    overflow-x: auto;

    /* center contents */
    text-align: center;
}

main img
{
    /* constrain images on small screens */
    max-width: 100%;
}

p {
    text-align: center;
    font-size: 40px;
    color: #FFFFFF;
    text-shadow: 1px 1px 2px #003300;
}

